.cta-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 0.325rem;
  padding: 1rem 1.5rem;
}

.cta-button-xl {
  padding: 1.4rem 3.4rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.button-newsletter {
  width: 30%;
  margin-left: -2%;
  background: #F9423A;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.line-anim {
  text-align: center;
}

.line-anim-slide {
  padding-right: 13%;
}

.line-anim a {
  color: black;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  cursor: pointer;
  letter-spacing: 0.07em;
}

.line-anim a .text {
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.line-anim a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #F9423A;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.line-anim .line {
  position: absolute;
  background: #F9423A;
}

.line-anim .line.-right,
.line-anim .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.line-anim .line.-top,
.line-anim .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.line-anim .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.line-anim .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.line-anim .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.line-anim .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.line-anim a:hover .text,
.line-anim a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.line-anim a:hover:after,
.line-anim a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.line-anim a:hover .line,
.line-anim a:active .line {
  transform: scale3d(1, 1, 1);
}

.line-anim a:hover .line.-right,
.line-anim a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.line-anim a:hover .line.-top,
.line-anim a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.line-anim a:hover .line.-left,
.line-anim a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.line-anim a:hover .line.-bottom,
.line-anim a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

.nav-anim a {
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  cursor: pointer;
}

.nav-anim a .text {
  transform: translate3d(0, 0.7em, 0);
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.nav-anim a :after {
  position: absolute;
  content: '';
  bottom: -6px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 4px;
  background: #F9423A;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
}

.nav-anim .line {
  position: absolute;
  background: #F9423A;
  bottom: -6px;
}

.nav-anim .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.nav-anim .line.-bottom {
  bottom: -3px;
  transform-origin: right;
}

.nav-anim a :active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.nav-anim a :hover:after,
.nav-anim a :active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.nav-anim a :hover .line,
.nav-anim .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.nav-anim a :active .line {
  transform: scale3d(1, 1, 1);
}

.nav-anim a :hover .line.-bottom,
.nav-anim a :active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

@media (max-width: 768px) {
  .button-newsletter {
    padding: 0;
  }
}

@media (max-width: 560px) {
  .hire-me-mobile .header-hire-me .cta-button {
    padding: 1rem 5rem !important;
    font-size: 16px !important;
  }
}

@media (max-width: 375px) {
  .hire-me-mobile .header-hire-me .cta-button {
    padding: 1rem 3rem !important;
  }
}

@media (max-width: 320px) {
  .hire-me-mobile .header-hire-me .cta-button {
    padding: 1rem 1.5rem !important;
  }

  .line-anim a .text {
    font-size: 14px;
  }
}
